/* rankingのテーブル関係 */
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
} 

table {
    border-collapse:  collapse; /* セルの線を重ねる */
}

a{
    text-decoration: none;/* aタグの下線消す */
}

/* loginボーナス用ボタン設定 */

.login_button {
    font-size: 1.375rem;
    background: rgb(0, 221, 7);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.login_button:hover {
    background: rgb(0, 119, 4);
}

/* acomnボタン設定 */

.acomn_button {
    font-size: 1.375rem;
    background: rgb(221, 0, 0);
    color: #fff;
    border-radius: 5px;
    padding: 8px 32px;
}
.acomn_button:hover {
    background: rgb(195, 0, 0);
}

/* 総資産ランキング用 */
.rank_button {
    font-size: 1rem;
    background: rgb(0, 210, 221);
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
}
.rank_button:hover {
    background: rgb(0, 144, 152);
}
