{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<h1>Camellia's Casino </h1>

<button class="rank_button" onclick="location.href='/all_ranking'">総資産ランキングはこちら！</button>
<h2>ランキング</h2>
{% if data == [] %}
    <p>ランキングはありません</p>
{% else %}
    <table border = "1">
        <tr>
            <th>順位</th>
            <th>名前</th>
            <th>残高</th>
            <th>借金</th>
            <th>来店回数</th>
        </tr>
        {% for d in data %}
            <tr>
                <th>{{d[0]}}</th>
                <th><a href="/{{d[1]}}/bank">{{d[1]}}</a></th>
                <th>{{d[2]}}</th>
                <th>{{d[3]}}</th>
                <th>{{d[4]}}</th>
            </tr>
        {% endfor %}
    </table>
{% endif %}
==========
<h3>初めての方</h3>
<button onclick="location.href='/create'">新規登録</button>
<h6>下記は製作者以外触らないでください</h6>
<button onclick="location.href='/debug'">デバック</button>
{% endblock %}