{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<求人情報>
<br><br>
*BJ*<br>
給与 = 基本給($10/game) + tip<br>
<br>
*Buccarat*<br>
給与 = 基本給($10/game) + tip + commission<br>
<br>
*No Commission Buccarat*<br>
給与 = 基本給($10/game) + tip<br>

<br>
*Pocker(Texas Hold'em)*
求人なし<br>

*Roulette*
求人なし<br>

*Big and Small*
求人なし<br>

*麻雀*
求人なし<br>

*High Limit 麻雀*
求人なし<br>
<br>
<応募資格・諸注意><br>
・やる気があること。<br>
・担当するゲームのルールを熟知していること。<br>
・HP内の"各種ルール一覧"を熟読していること。<br>
・不正発覚時は、相応のペナルティがあります。<br>
<button onclick="history.back()">戻る</button>
{% endblock %}