{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<h1>ランキング</h1>
{% if data == [] %}
    <p>ランキングはありません</p>
{% else %}
    <table border = "1">
        <tr>
            <th>No.</th>
            <th>名前</th>
            <th>残高</th>
        </tr>
        {% for d in data %}
            <tr>
                <th>{{d.rank}}</th>
                <th><a href="/{{d.name}}/bank">{{d.name}}</a></th>
                <th>{{d.money}}</th>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<button onclick="history.back()">戻る</button>
{% endblock %}