{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<h1>ランキング</h1>
{% if data == [] %}
    <p>ランキングはありません</p>
{% else %}
    <table border = "1">
        <tr>
            <th>順位</th>
            <th>名前</th>
            <th>残高</th>
            <th>借金</th>
        </tr>
        {% for d in data %}
            <tr>
                <th>{{d[0]}}</th>
                <th><a href="/{{d[1]}}/bank">{{d[1]}}</a></th>
                <th>{{d[2]}}</th>
                <th>{{d[3]}}</th>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<button onclick="location.href='/home'">戻る</button>
{% endblock %}