{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<h3>*当店情報*</h3>
・会員制の安心アミューズメントカジノ！<br>
<br>
・来店時、$10のログインボーナスあり！<br>
>TOP3(純資産)の方には +$10 ボーナス！<br>
>さらに会員ランクによって最大 +$10 ボーナス！<br>
(会員ランク内訳)<br>
>ゴールドランク : 利用回数50%以上(+$10)<br>
>シルバーランク : 利用回数10%以上(+$5)<br>
>ブロンズランク : アコムン利用者(-$10)

<h3>*BJ*</h3>
(Bet ルール)<br>
Minimum Bet = $1, Maximum Bet = $1,000。<br>
(基本ルール)<br>
オプションは、Hit, Stay, Split, Double down, Surrender, Insurance.<br>
※Split時、ハンドがAAの場合、BJにならず、ターン終了。<br>
※Surrenderは、半額が払い戻される。<br>
※Insurance成功時は、掛け金は没収され、保険金の2倍が払い戻され、保険金も帰ってくる。<br>
ex)$10の場合、-$10,$5(保険金),+$5*2 = ±0<br>
(特殊ルール)<br>
・ジャックポッド<br>
>ハンドが77の時に自動発生。<br>
>三枚目に7が来るとゲームとは関係なく$1,000獲得。<br>
>777のスートがすべて同じ場合、代わりに$10,000獲得。<br>

<h3>*Buccarat*</h3>
(基本ルール)<br>
通常のバカラ<br>
(Bet ルール)<br>
Minimum Bet = $1, Maximum Bet = $1,000。<br>
Tie : 8 to 1<br>
Banker : 95 to 100, 5%のコミッション。<br>
Player : 1 to 1<br>
Banker Pair : 1 to 12<br>
Player Pair : 1 to 12<br>
Perfect Pair : 1 to 26 (Banker,Playerのどちらかのペアがスートも同じ場合)<br>
===<br>
コミッションは、白,赤,緑,青,橙 = ¢1,¢5,¢25,¢100,¢500<br>
※コミッションは端数切り上げ。ex)¢1もゲーム終了時$1換算。<br>

<h3>*No Commission Buccarat*</h3>
(基本ルール)<br>
コミッションが無いバカラ<br>
(Bet ルール)<br>
Minimum Bet = $1, Maximum Bet = $1,000<br>
Tie : 8 to 1<br>
Banker : 1 to 1<br>
Player : 1 to 1<br>
※Bankerが6で勝ったときのみ、Bankerは3 to 2<br>

<h3>*Roulette*</h3>
(Bet ルール)<br>
Minimum Bet = $1, Maximum Bet = $1,000。<br>

<h3>*Big and Small*</h3>
(Bet ルール)<br>
Minimum Bet = $1, Maximum Bet = $1,000。<br>

===================================

<h3>*Pocker(Texas Hold'em)*</h3>
※このゲームでは、カジノの$とは別に、SB(BB)を使います。<br>
なお、交換レートは "$100 = 500SB(50BB)" とします。
<br>
(Bet ルール)<br>
SmallBet = 5SB(0.5BB)<br>
BigBet = 10SB(1BB)<br>
掛け金は、5SB(0.5BB)区切り。<br>

(基本ルール)<br>
・カード配りはdealerの次から。<br>
・raiseは2倍以上から。<br>
・ストラドル有り(要勉強)。<br>

<!--<h3>*麻雀*</h3>
・100点 = $1として交換(10,000点=$100)。<br>
kwsk<br>

<h3>*High Limit 麻雀*</h3>
・10点 = $1として交換(10,000点=$1,000)。<br>
kwsk<br>-->
<button onclick="history.back()">戻る</button>
{% endblock %}<br>